apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: devfile-sample-code-with-quarkus-u0ef
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/e2e-demos-ssmx-tenant/quarkus/devfile-sample-code-with-quarkus-u0ef@sha256:a744bf8f1e0940cf1b52f158a93de747e590b9f05f51e141d73ba87077bbe209
        name: my-java-quarkus
        resources: {}
status: {}
